body {
    color: black;
    background-image: url(http://th00.deviantart.net/fs71/PRE/f/2012/155/3/0/the_elusive_prize_by_chickenman_16-d52bpx7.png);
    background-size: cover;
}

.jumbotron {
    background-image: url(http://www.ilikewallpaper.net/ipad-wallpapers/download/7559/Minecraft-Cubes-ipad-wallpaper-ilikewallpaper_com.jpg);
}

p {
    color: black;
}